/************************/
/* BELOW (1392px) descktop */
/************************/

@media (max-width: 87em) {
  html {
    font-size: 52%;
  }
}
/************************/
/* BELOW (1200px) descktop */
/************************/

@media (max-width: 75em) {
  html {
    font-size: 48%;
  }
}

/************************/
/* BELOW (1072px) descktop */
/************************/
@media (max-width: 67em) {
  html {
    font-size: 42%;
  }
}

/************************/
/* BELOW (992px) descktop */
/************************/

@media (max-width: 62em) {
  html {
    font-size: 39%;
  }
}

/************************/
/* BELOW (848px) mobile & tablet */
/************************/

@media (max-width: 53em) {
  html {
    font-size: 39%;
  }

  .grid--2-cols {
    grid-template-columns: repeat(1, 1fr);
  }

  .hero-text-box {
    text-align: center;
    width: 100%;
  }

  .hero-image-box::after {
    display: none;
  }

  .About {
    background-color: #fff;
  }

  .second-section {
    grid-template-columns: 2fr 1fr 1fr;
  }

  /* .img-short {
    grid-row: 1 / 2;
    grid-column: 2;
   */

  .img-high {
    display: none;
  }

  .third-text-box {
    text-align: center;
  }

  .third-img-box::after,
  .third-img-box::before {
    display: none;
  }
}

/************************/
/* BELOW (657px) mobile */
/************************/

@media (max-width: 41em) {
  .pricing-01 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .price-title {
    text-align: center;
    font-size: 2.4rem;
  }

  .price-discription {
    text-align: center;
    font-size: 1.8rem;
  }
  .price-150 {
    font-size: 4.8rem;
    text-align: center;
    margin-top: 2.4rem;
  }

  .access-btn {
    display: inline-block;
    padding: 1.6rem 40rem;
    font-size: 1.8rem;
  }

  .adress-section {
    display: flex;
    flex-direction: column;
    /* align-items: left;
    justify-content: left; */
  }

  .social-dizmo {
    align-self: start;
    margin-top: 6.4rem;
  }

  .align {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: flex-start;
    /* margin-top: 2.4rem; */
  }

  .heading-footer {
    font-size: 2.2rem;
    margin-bottom: 3.2rem;
  }

  .phone-text,
  .link-footer {
    font-size: 1.8rem;
  }

  .footer-icon {
    height: 3.2rem;
    width: 3.2rem;
  }

  .end-section {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}

@media (max-width: 40.25em) {
  .access-btn {
    display: inline-block;
    padding: 1.6rem 37.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 38.1875em) {
  .access-btn {
    display: inline-block;
    padding: 1.6rem 35rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 36.375em) {
  .access-btn {
    display: inline-block;
    padding: 1.6rem 32.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 34.1875em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 30rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 32.3125em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 27.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 30.625em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 25rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 28.5em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 20rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 24.5625em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 17.5rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 22.6875em) {
  .access-btn {
    display: inline-block;
    padding: 1.4rem 15rem;
    font-size: 1.8rem;
  }
}
